{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>About Us</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem velit obcaecati inventore minus expedita maiores, error eaque quidem doloremque, minima pariatur officia nihil quae recusandae quis sapiente repellat. Tempore quod nulla ex, enim architecto labore aspernatur ratione, omnis dolorum, sint quibusdam possimus quos odio ad recusandae consequuntur blanditiis reiciendis earum.</p>
</div>
{% endblock %}